html {
margin:0;
padding:0;
}

body {
background:#eee;
font:11px Arial;
color:#000;
margin:0;
padding:0;
}

.clear {
clear:both;
}

a img {
border:0;
}

#container {
width:961px;
margin:13px auto 0;
padding:0;
}

#header {
background:url('../images/header.png');
width:961px;
height:75px;
}

#top_nav {
float:right;
margin-top:2px;
}

#top_nav a {
float:left;
display:block;
width:123px;
text-align:center;
line-height:22px;
background:url('../images/top_nav.png');
text-transform:uppercase;
height:25px;
color:#3c71a7;
text-decoration:none;
margin-left:1px;
}

#top_nav a:hover {
color:#fff;
background:url('../images/top_nav_hover.png');
}

#menu {
width:961px;
height:36px;
background:url('../images/menu.png') no-repeat;
}

#menu a {
float:left;
display:block;
height:36px;
width:auto;
line-height:39px;
margin-left:1px;
color:#fff;
text-decoration:none;
text-transform:uppercase;
padding:0 25px;
}

#menu a:hover {
color:#3c71a7;
background:url('../images/menu_hover.png');
}

#search {
background:url('../images/search_input.png') no-repeat;
height:23px;
float:right;
margin:7px -22px 0 0;
}

#search input {
background:none;
border:0;
float:left;
color:#afafaf;
height:19px;
width:173px;
margin-right:-26px;
padding:4px 5px 0;
}

#search a {
float:left;
width:33px;
height:23px;
}

#search a:hover {
background:none;
}

#container2 {
width:961px;
background:url('../images/container2.png');
}

#links {
float:left;
background:url('../images/links.png') no-repeat #fff;
width:676px;
height:250px;
}

#links #sortby {
width:636px;
color:#737373;
font-weight:700;
font-size:10px;
padding:27px 20px 20px;
}

#links #sortby .logo {
position:relative;
top:3px;
}

#links #sortby span {
float:left;
}

#links #sortby a {
text-align:center;
float:left;
line-height:21px;
font-size:10px;
color:#737373;
margin-left:25px;
display:block;
height:21px;
text-decoration:none;
}

.sortby1 {
width:104px;
}

.sortby1:hover {
background:url('../images/sortby1.png');
}

.sortby1 span .active {
background:url('../images/sortby1.png');
}

.sortby2 {
width:70px;
}

.sortby2:hover {
background:url('../images/sortby2.png');
}

.sortby3 {
width:48px;
}

.sortby3:hover {
background:url('../images/sortby3.png');
}

#links .post h3 {
font-weight:700;
color:#fa9f10;
font-size:12px;
margin:0 0 10px 107px;
padding:0;
}

#links .post h3 a {
font-weight:700;
color:#fa9f10;
font-size:12px;
margin:0 0 10px;
padding:0;
}

#links .post .postbackground {
background:url('../images/postlinks.png') repeat-y;
}

#links .post .postlinks {
float:left;
width:107px;
text-align:center;
color:#545454;
font-size:10px;
}

#links .post .postlinks span {
color:#fa9f10;
font-weight:700;
font-size:12px;
}

#links .post .postrechts {
width:525px;
float:left;
padding:0 20px;
}

#links .post .postedby {
color:#adadad;
font-size:9px;
}

#links .post .postedby a {
color:#adadad;
}

#links .post p {
font-size:11px;
color:#565656;
line-height:1.4;
}

#links .post .onderregel {
color:#497eb4;
font-size:10px;
}

#links .post .category {
color:#000;
}

#links .post .onderregel a {
color:#497eb4;
}

#links .pagination {
color:#477cb2;
float:right;
margin-right:50px;
}

#links .pagination span {
line-height:30px;
float:left;
margin-left:5px;
}

#links .pagination a {
text-align:center;
text-decoration:none;
line-height:20px;
display:block;
margin-left:5px;
height:20px;
float:left;
color:#477cb2;
}

#links .pagination .small {
width:20px;
background:url('../images/paginisationS.png');
}

#links .pagination .medium {
width:30px;
background:url('../images/paginisationM.png');
}

#links .pagination .large {
width:67px;
background:url('../images/paginisationL.png');
}

#links .pagination .small:hover {
background:url('../images/paginisationSH.png');
}

#links .pagination .medium:hover {
background:url('../images/paginisationMH.png');
}

#links .pagination .large:hover {
background:url('../images/paginisationLH.png');
}

#rechts {
float:left;
background:url('../images/rechts.png') no-repeat #fff;
width:243px;
margin-left:1px;
padding:10px 20px 0;
}

#rechts p {
margin-left:5px;
width:238px;
font-weight:700;
color:#565656;
line-height:1.4;
}

#rechts p span {
color:#fa9f10;
font-style:italic;
}

#rechts .normal {
font-weight:400;
}

#rechts h1 {
color:#fa9f10;
font-style:italic;
font-weight:700;
font-size:14px;
}

#rechts .categories {
color:#000;
font-weight:700;
font-style:italic;
font-size:13px;
}

#rechts .ul li {
background:url('../images/category.png') no-repeat;
margin-left:-35px;
list-style:none;
}

#rechts .ul li a {
text-decoration:none;
color:#565656;
display:block;
height:25px;
width:100%;
margin-left:20px;
position:relative;
top:5px;
}

#rechts .line {
height:1px;
width:241px;
background:url('../images/dotted_line.png') repeat-x;
margin:-12px 0 0 6px;
}

#rechts .lijn {
height:1px;
width:241px;
background:url('../images/dotted_line.png') repeat-x;
}

#rechts .latest_comment {
color:#000;
font-weight:400;
}

#rechts .latest_comment span {
font-size:9px;
font-style:normal;
float:left;
}

#rechts .latest_comment a img {
float:right;
}

#rechts #wolk {
text-align:center;
line-height:30px;
}

#rechts #wolk .wolk1 {
color:#545454;
font-size:18px;
}

#rechts #wolk .wolk2 {
color:#545454;
font-size:10px;
}

#rechts #wolk .wolk3 {
color:#545454;
font-size:14px;
}

#rechts #wolk .wolk4 {
color:#545454;
font-size:12px;
}

#rechts #wolk .wolk5 {
color:#545454;
font-size:8px;
}

#rechts #wolk .wolk6 {
color:#545454;
font-size:24px;
}

#rechts #wolk .wolk7 {
color:#545454;
font-size:9px;
}

#tussenstuk {
width:961px;
background:#fff;
margin-top:2px;
height:12px;
}

#tussenstuk2 {
width:961px;
background:#fff;
height:12px;
}

#container3 {
width:961px;
background:url('../images/ondervakken.png');
color:#545454;
font-size:11px;
}

#sitelinks {
width:150px;
float:left;
padding:0 0 0 25px;
}

#container3 h2 {
color:#497eb4;
font-size:11px;
text-transform:uppercase;
}

#container3 ul {
text-transform:uppercase;
margin:0;
padding:0 0 0 18px;
}

#container3 ul li {
list-style-image:url('../images/list_item.png');
}

#container3 ul li a {
text-decoration:none;
color:#fa9f10;
font-size:10px;
line-height:20px;
}

#sitehelp {
width:202px;
float:left;
padding:0 0 0 25px;
}

#inloggen {
width:529px;
float:left;
padding:0 0 0 25px;
}

#inloggen input {
border:1px solid #d1d1d1;
color:#292621;
background:url('../images/inloggen.png');
height:19px;
width:220px;
margin-left:10px;
padding:3px 10px 0;
}

#inloggen .inlogbutton {
border:0;
background:url('../images/inlogbutton.png');
height:26px;
width:151px;
cursor:pointer;
float:right;
margin:10px 24px 0 0;
}

#inloggen hr {
width:520px;
border:0;
height:1px;
background:#e4e4e4;
margin-left:-10px;
}

#footer {
color:#575757;
line-height:30px;
margin-left:25px;
}

#links #sortby a:hover,#links .pagination a:hover {
color:#fff;
}