#rechts { padding: 10px 0px 0px 20px; }
#rechts .line { margin: -20px 0px 0px 6px; }
#rechts .latest_comment { margin-top: -10px; }
#rechts .lijn { margin-top: -13px; }

#links .paginisation { margin-top: -30px; }
#links .post { margin-top: 10px; }